/************ Skills Css ************/
.skill {
    padding: 0 0 50px 0;
    position: relative;
}

.skillbx {
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
}

.skill h2 {
    font-size: 45px;
    font-weight: 700;
}

.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.itemPercent img {
    height: 150px;
    width: 150px;
    background-size: cover;
    border-radius: 50px;
    border: 2px solid white;
}

.skillSlider {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.skillSlider h5 {
    margin: 30px;
}

.skillSlider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
}

/* responsive */
@media screen and (max-width: 770px) {
    .skill h2 {
        font-size: 30px;
    }
}
@media screen and (max-width: 600px) {
    .skill h2 {
        font-size: 30px;
    }
}